@page
@using LLama.Sampling;
@model LLama.Web.Common.InferenceOptions

@{
    var pipeline = Model?.SamplingPipeline as DefaultSamplingPipeline ?? new DefaultSamplingPipeline();
}

<div class="d-flex flex-row gap-3">
    <div class="d-flex flex-column mb-2">
        <small>MaxTokens</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBoxFor(m => m.MaxTokens, new { @type = "range", @class = "slider", min = "-1", max = "2048", step = "1" })
            <label>0</label>
        </div>
    </div>

    <div class="d-flex flex-column mb-2">
        <small>TokensKeep</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBoxFor(m => m.TokensKeep, new { @type = "range", @class = "slider", min = "0", max = "2048", step = "1" })
            <label>0</label>
        </div>
    </div>
</div>

<div class="d-flex flex-row gap-3">
    <div class="d-flex flex-column mb-2">
        <small>TopK</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.TopK", pipeline.TopK, new { @type = "range", @class = "slider", min = "1", max = "100", step = "1" })
            <label>0</label>
        </div>
    </div>

    <div class="d-flex flex-column mb-2">
        <small>TopP</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.TopP", pipeline.TopP, new { @type = "range", @class = "slider", min = "0.0", max = "1.0", step = "0.01" })
            <label>0</label>
        </div>
    </div>
</div>

<div class="d-flex flex-row gap-3">
    <div class="d-flex flex-column mb-2">
        <small>TypicalP</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.TypicalP", pipeline.TypicalP, new { @type = "range", @class = "slider", min = "0.0", max = "1.0", step = "0.01" })
            <label>0</label>
        </div>
    </div>

    <div class="d-flex flex-column mb-2">
        <small>Temperature</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.Temperature", pipeline.Temperature, new { @type = "range", @class = "slider", min = "0.0", max = "1.5", step = "0.01" })
            <label>0</label>
        </div>
    </div>
</div>

<div class="d-flex flex-row gap-3">
    <div class="d-flex flex-column mb-2">
        <small>RepeatPenalty</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.RepeatPenalty", pipeline.RepeatPenalty, new { @type = "range", @class = "slider", min = "0.0", max = "2.0", step = "0.01" })
            <label>0</label>
        </div>
    </div>

    <div class="d-flex flex-column mb-2">
        <small>PenaltyCount</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.PenaltyCount", pipeline.PenaltyCount, new { @type = "range", @class = "slider", min = "0", max = "2048", step = "1" })
            <label>0</label>
        </div>
    </div>
</div>

<div class="d-flex flex-row gap-3">
    <div class="d-flex flex-column mb-2">
        <small>FrequencyPenalty</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.FrequencyPenalty", pipeline.FrequencyPenalty, new { @type = "range", @class = "slider", min = "-2.0", max = "2.0", step = "0.01" })
            <label>0</label>
        </div>
    </div>

    <div class="d-flex flex-column mb-2">
        <small>PresencePenalty</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.PresencePenalty", pipeline.PresencePenalty, new { @type = "range", @class = "slider", min = "-2.0", max = "2.0", step = "0.01" })
            <label>0</label>
        </div>
    </div>
</div>

<div class="d-flex flex-row gap-3">
    <div class="d-flex flex-column mb-2">
        <small>MinP</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.MinP", pipeline.MinP, new { @type = "range", @class = "slider", min = "0.0", max = "1.0", step = "0.01" })
            <label>0</label>
        </div>
    </div>
    <div class="d-flex flex-column mb-2">
        <small>MinKeep</small>
        <div class="d-flex flex-row slider-container">
            @Html.TextBox("SamplingPipeline.MinKeep", pipeline.MinKeep, new { @type = "range", @class = "slider", min = "1", max = "64", step = "1" })
            <label>0</label>
        </div>
    </div>
</div>

<div class="d-flex flex-row gap-3">
    <div class="d-flex flex-column mb-2">
        <small>PreventEOS</small>
        <div class="d-flex flex-row slider-container align-items-center">
            @Html.CheckBox("SamplingPipeline.PreventEOS", pipeline.PreventEOS, new { @class = "form-check-input" })
        </div>
    </div>

    <div class="d-flex flex-column mb-2">
        <small>PenalizeNewline</small>
        <div class="d-flex flex-row slider-container align-items-center">
            @Html.CheckBox("SamplingPipeline.PenalizeNewline", pipeline.PenalizeNewline, new { @class = "form-check-input" })
        </div>
    </div>
</div>
